<html>

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
</head>

<body style="
      font-family: 'IBM Plex Sans Thai', sans-serif;
      font-size: 14px;
      line-height: 1.5;
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    ">
  <table role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; width: 100%'>
    <tr>
      <td class='container' style='display: block; margin: 0 auto !important; padding: 0; width: 100%'>
        <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; padding: 0'>
          <table role='presentation' class='main' style='
                background: #eaf5f9;
                border-collapse: separate;
                width: 100%;
                padding: 32px;
                max-width: 640px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 24px;
              '>
            <tr>
              <td class='wrapper' style='background: #ffffff; box-sizing: border-box; padding: 24px'>
                <table role='presentation' border='0' cellpadding='0' cellspacing='0' style='margin: auto'>
                  <tr>
                    <td>
                      <p style='display: table; margin-left: auto; margin-right: auto; margin-bottom: 16px'>
                        <img src='{{baseUrl}}/images/logo.png' alt='' />
                      </p>
                      <h1 style="
                            margin-bottom: 16px;
                            font-family: 'IBM Plex Sans Thai', sans-serif;
                            font-size: 18px;
                            font-weight: 700;
                            text-align: center;
                          ">
                        {{passwordResetLabelSetYourNewPassword}}
                      </h1>
                      <p style="
                            margin-bottom: 16px;
                            text-align: center;
                            font-family: 'IBM Plex Sans Thai', sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                          ">
                        {{passwordResetLabelDear}}
                      </p>
                      <p style="
                            margin-bottom: 16px;
                            text-align: center;
                            font-family: 'IBM Plex Sans Thai', sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                          ">
                        {{{passwordResetLabelPleaseClickLinkBelow}}}
                      </p>
                      <p style="text-align: center">
                        <a href='{{urlResetPassword}}' style='
                              flex-direction: row;
                              justify-content: center;
                              align-items: center;
                              padding: 8px 16px;
                              gap: 4px;
                              width: 114px;
                              height: 40px;
                              background: #3750A1;
                              border-radius: 8px;
                              flex: none;
                              order: 4;
                              flex-grow: 0;
                              font-style: normal;
                              font-weight: 700;
                              font-size: 14px;
                              line-height: 23px;
                              color: #FFFFFF;
                              text-decoration: none;
                            '>{{passwordResetBtnResetPassword}}</a>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</body>

</html>